<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}

    <<img src="/img/Jason In Snow.jpg" alt="Photo of Jason Stathopulos" />

    <p>Created by {{name}}</p>
  </body>
</html>
